<configuration debug="true">
    <appender name="flume" class="com.gilt.logback.flume.FlumeLogstashV1Appender">
        <flumeAgents>
            hadoop201:41414,
<!--            hadoop202:41414,-->
<!--            hadoop203:41414-->
        </flumeAgents>

        <flumeProperties>
            connect-timeout=4000;
            request-timeout=8000
        </flumeProperties>
        <batchSize>100</batchSize>
        <reportingWindow>1000</reportingWindow>

        <additionalAvroHeaders>
            myHeader=myValue
        </additionalAvroHeaders>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern> {"timestamp":"%d{yyyy-MM-dd HH:mm:ss.SSS}",%n "level":"%p",%n "thread":"%t",%n "logger":"%c",%n "message":"%m"}%n
            </pattern>
        </layout>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern> {"timestamp":"%d{yyyy-MM-dd HH:mm:ss.SSS}",%n "level":"%p",%n "thread":"%t",%n "logger":"%c",%n "message":"%m"}%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="flume" />
        <appender-ref ref="console"/>
    </root>
</configuration>